<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>Smart Windows Panel</title>
</head>
<body>
    
    <div class="nice-container">
        <p id="temperature">Temperature: --°C</p>
        <p id="humidity">Humidity: --%</p>
        <p id="pressure">Pressure: -- hPa</p>
        <p id="lux">Lux: --</p>
        <p id="uvs">UVS: --</p>
    </div>

    <div class="nice-container">
    
        <div id="mode-div">
            <div><h4>Auto Mode</h4></div>
            <div class="scaledown50"><input id="mode-switch" type="checkbox" checked /></div>
        </div>
        <div id="window-div" hidden >
            <div><h4>Window</h4></div>
            <div class="scaledown50"><input id="window-switch" type="checkbox" checked /></div>
        </div>
        <div id="light-div" hidden >
            <div><h4>Light</h4></div>
            <div class="scaledown50"><input id="light-switch" type="checkbox" checked /></div>
        </div>
    </div>

    <div class="nice-container">
        <!-- Add a button to open the modal window -->
        <button onclick="openModal()">Add Threshold Rule</button>
        <button onclick="saveRules()">Save Rules</button>
        <button onclick="refreshRules()">Refresh Rules</button>
        <br><br>
        <!-- Modal window for adding threshold rules -->
        <div id="modal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <h2>Add Threshold Rule</h2>
            <select id="datatype">
                <option value="lux">Lux</option>
                <option value="temperature">Temperature</option>
                <option value="humidity">Humidity</option>
                <option value="uvs">UVS</option>
            </select>
            <select id="operator">
                <option value="more_than">More Than</option>
                <option value="equal">Equal</option>
                <option value="less_than">Less Than</option>
            </select>
            <input type="text" id="threshold-value" placeholder="Threshold Value">
            <select id="action">
            <option value="open_window">Open Window</option>
            <option value="close_window">Close Window</option>
            <option value="light_on">Light On</option>
            <option value="light_off">Light Off</option>
            </select>
            <button onclick="addThreshold()">Add Rule</button>
        </div>
        </div>

        <!-- Table to display threshold rules -->
        <table id="threshold-table">
        <tr>
            <th>Datatype</th>
            <th>Operator</th>
            <th>Threshold Value</th>
            <th>Action</th>
            <th>Options</th>
        </tr>
        </table>
    </div>

    <div id="main-content">
        <h1>Sensor Data</h1>
        <!-- Container for each graph -->
        <div class="graph-container">
            <h2 class="graph-title">Temperature (°C)</h2>
            <canvas id="temperature-graph" class="sensor-graph"></canvas>
        </div>
        <div class="graph-container">
            <h2 class="graph-title">Humidity (%)</h2>
            <canvas id="humidity-graph" class="sensor-graph"></canvas>
        </div>
        <div class="graph-container">
            <h2 class="graph-title">Pressure</h2>
            <canvas id="pressure-graph" class="sensor-graph"></canvas>
        </div>
        <div class="graph-container">
            <h2 class="graph-title">Lux</h2>
            <canvas id="lux-graph" class="sensor-graph"></canvas>
        </div>
        <div class="graph-container">
            <h2 class="graph-title">UVS</h2>
            <canvas id="uvs-graph" class="sensor-graph"></canvas>
        </div>
    </div>

    <script src="{{url_for('static', filename='chart.js')}}"></script>
    <script src="{{url_for('static', filename='script.js')}}"></script>
</body>
</html>
